<html>
    <head>
        <meta charset="utf-8">
        <title>admin page</title>
        <script type="text/javascript">
            function getMiddleCategory(value){
                let middleElement = document.getElementById("middle");
                if(value === 'shirt'){ middleElement.style.display = 'block'; }
            }
        </script>
    </head>
    <body>
        <p>Welcome to Admin Page!!!</p>
        <p><a href="/admin/logout">logout</a></p>
        <fieldset>
            <legend>전체사용자 메일 송신</legend>
            <form action="/admin/email" method="POST">
                <p><H3>message</H3></p>
                <p><input type="text" name="eventSubject" placeholder="subject"></p>
                <textarea name="eventMessage" cols="100" rows="10"></textarea>
                <p><input type="submit" name="submit" value="all"></p>
            </form>
        </fieldset>
        <fieldset>
            <legend>사용자 정보 관리</legend>
            <form action="/admin/user/delete" method="POST">
                <% for(let i in users_info){ %>
                    <p>name : <%= users_info[i].name %></p>
                    <p>id : <%= users_info[i].id %></p>
                    <p>P.H : <%= users_info[i].phone_number %></p>
                    <p>email : <%= users_info[i].email %></p>
                    <p>address : <%= users_info[i].address %></p>
                    <input type="submit" name="delete" value="<%= users_info[i].id %>">
                    <hr>
                <% } %>
            </form>
        </fieldset>
        <fieldset>
            <legend>서버 점검</legend>
            <form action="/admin/server/check" method="POST">
                <input type="submit" value="server">
            </form>
        </fieldset>
        <fieldset>
            <legend>상품 추가</legend>
            <form action="/admin/product/add" method="POST">
                name : <input type="text" name="productName" required><br>
                price : <input type="text" name="productPrice" required><br>
                <select name="high-category" id="high" onchange="getMiddleCategory(this.value)" required>
                    <option value="select" selected>select</option>
                    <option value="shirt">shirt</option>
                    <option value="pants">pants</option>
                    <option value="bag">bag</option>
                    <option value="shoes">shoes</option>
                </select>
                <div>
                    <select name="middle-category" id="middle" style="display: none">
                        <option value="long_sleeved">long_sleeved</option>
                        <option value="short_sleeved">short_sleeved</option>
                    </select>
                </div>
            </form>
            <form action="/admin/product/delete" method="POST">
                
            </form>
        </fieldset>
        <fieldset>
            <legend>상품 리스트 / 상품 재고 변경</legend>
            <% for(let i in products) { %>
                <fieldset>
                    <p>productName : <%= products[i].name %></p>
                    <p>productStock : <%= products[i].stock %></p>
                    <p>productPrice : <%= products[i].price %></p>
                    <p>productCategory : <%= products[i].category.shirt.long_sleeved %></p>
                    <p>productPurchaseAmout : <%= products[i].purchaseAmount %></p>
                </fieldset>
            <% } %>
        </fieldset>
        <fieldset>
            <legend>Q&A 답변</legend>
            <% for(let i in q_a){ %>
                <% if (!q_a[i].status) { %>
                <fieldset>
                    <form action="/admin/answer" method="post">
                        <p>writer : <input type="text" name="writer" value="<%= q_a[i].writer %>"></p>
                        <p>title : <input type="text" name="title" value="<%= q_a[i].title %>"></p>
                        <p>text : <input type="text" name="text" value="<%= q_a[i].text %>"></p>
                        <textarea name="answer" cols="30" rows="10"></textarea>
                        <input type="submit" name="submit" value="답변하기">
                    </form>
                </fieldset>
                <% } %>
                <br>
            <% } %>
        </fieldset>
    </body>
</html>