<html>
    <head>
        <meta charset="utf-8">
        <title>admin page</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript">
            function getlowCategory(value){
                let lowShirtElement = document.getElementById("lowshirt");
                let lowPantsElement = document.getElementById("lowpants");
                let lowBagElment = document.getElementById("lowbag");
                let lowShoesElement = document.getElementById("lowshoes");
                if(value === 'shirt'){
                    lowShirtElement.style.display = 'block';
                    lowPantsElement.disabled = true;
                    lowBagElment.disabled = true;
                    lowShoesElement.disabled = true;
                }
                if(value !== 'shirt'){lowShirtElement.style.display = 'none';}
                if(value === 'pants'){
                    lowPantsElement.style.display = 'block';
                    lowShirtElement.disabled = true ;
                    lowBagElment.disabled = true ;
                    lowShoesElement.disabled = true ;
                }
                if(value !== 'pants'){lowPantsElement.style.display = 'none';}
                if(value === 'bag'){
                    lowBagElment.style.display = 'block';
                    lowShirtElement.disabled = true;
                    lowPantsElement.disabled = true;
                    lowShoesElement.disabled = true;
                }
                if(value !== 'bag'){lowBagElment.style.display = 'none';}
                if(value === 'shoes'){
                    lowShoesElement.style.display = 'block';
                    lowShirtElement.disabled = true;
                    lowPantsElement.disabled = true;
                    lowBagElment.disabled = true;
                }
                else{lowShoesElement.style.display = 'none';}
            }
        </script>
    </head>
    <body>
        <p>Welcome to Admin Page!!!</p>
        <p><a href="/admin/logout">logout</a></p>
        <fieldset>
            <legend>전체사용자 메일 송신</legend>
            <form action="/admin/email" method="POST">
                <p><H3>message</H3></p>
                <p><input type="text" name="eventSubject" placeholder="subject"></p>
                <textarea name="eventMessage" cols="100" rows="10"></textarea>
                <p><input type="submit" name="submit" value="all"></p>
            </form>
        </fieldset>
        <fieldset>
            <legend>사용자 정보 관리</legend>
            <form action="/admin/user/delete" method="POST">
                <% for(let i in users_info){ %>
                    <p>name : <%= users_info[i].name %></p>
                    <p>id : <%= users_info[i].id %></p>
                    <p>P.H : <%= users_info[i].phone_number %></p>
                    <p>email : <%= users_info[i].email %></p>
                    <p>address : <%= users_info[i].address %></p>
                    <input type="submit" name="delete" value="<%= users_info[i].id %>">
                    <hr>
                <% } %>
            </form>
        </fieldset>
        <fieldset>
            <legend>서버 점검</legend>
            <form action="/admin/server/check" method="POST">
                <input type="submit" value="server">
            </form>
        </fieldset>
        <fieldset id="productsAdd">
            <legend>상품 추가</legend>
            <form action="/admin/product/add" method="POST">
                name : <input type="text" name="productName" required><br>
                price : <input type="text" name="productPrice" required><br><br>
                <select name="high" id="high" onchange="getlowCategory(this.value)" required>
                    <option value="select" selected>select</option>
                    <option value="shirt">shirt</option>
                    <option value="pants">pants</option>
                    <option value="bag">bag</option>
                    <option value="shoes">shoes</option>
                </select>
                <div>
                    <select name="low" id="lowshirt" style="display: none" required>
                        <option value="T-shirt">T-shirt</option>
                        <option value="Y_shirt">Y_shirt</option>
                        <option value="denim_shirt">denim_shirt</option>
                    </select>
                    <select name="low" id="lowpants" style="display: none" required>
                        <option value="slacks">slacks</option>
                        <option value="blue_jeans">blue_jeans</option>
                        <option value="cotton_trousers">cotton_trousers</option>
                    </select>
                    <select name="low" id="lowbag" style="display: none" required>
                        <option value="echo">echo</option>
                        <option value="school">school</option>
                        <option value="cross">cross</option>
                    </select>
                    <select name="low" id="lowshoes" style="display: none" required>
                        <option value="sneakers">sneakers</option>
                        <option value="sandals">sandals</option>
                        <option value="canvas">canvas</option>
                    </select>
                </div><br>
                <input type="submit" name="submit" value="생성하기">
            </form>
        </fieldset>
        <fieldset>
            <legend>상품 삭제</legend>
            <form action="/admin/product/delete" method="POST">
                상품 이름 : <input type="text" name="productName">
                <input type="submit" name="submit" value="삭제하기">
            </form>
        </fieldset>
        <fieldset>
            <legend>상품 리스트 / 상품 재고 및 가격 변경</legend>
            <% for(let i in products) { %>
                <form action="/admin/product/amount/change" method="POST">
                    <fieldset>
                        <p>productName : <input type="text" name="productName" readonly value="<%= products[i].name %>"></p>
                        <p>productStock : <input type="text" style="width: 50px;" name="productStock" value="<%= products[i].stock %>"></p>
                        <p>productPrice : <input type="text" style="width: 80px;" name="productPrice" value="<%= products[i].price %>"> (won)</p>
                        <p>productCategory : <input type="text" style="width: 50px;" name="productCategory"readonly value="<%= products[i].category.highCategory %>"> > <%= products[i].category.lowCategory %></p>
                        <p>productPurchaseAmout : <input type="text" name="productPurchaseAmout" readonly value="<%= products[i].purchaseAmount %>"></p>
                        <input type="submit" name="submit" value="변경 사항 저장">
                    </fieldset>
                </form>
            <% } %>
        </fieldset>
        <fieldset>
            <legend>사용자별 결제상태 업데이트 기능</legend>

            <% for(let i in PaymentBasket) { %>
                <form action="/admin/paymentStatusChange" method="POST">
                    <fieldset>
                        <p> 고유식별번호 :  <input type="text" name="_id" readonly value="<%= PaymentBasket[i]._id %>"></p>
                        <p> 구매자 :  <input type="text" name="userId" readonly value="<%= PaymentBasket[i].userId %>"></p>
                        <p> 결제 날짜 : <input type="text" name="paymentDate" readonly value="<%=PaymentBasket[i].date.getFullYear()%>-<%=PaymentBasket[i].date.getMonth()+1%>-<%=PaymentBasket[i].date.getDate()%>"></p>
                        <p> 상품명 :  <input type="text" name="productName" readonly value="<%= PaymentBasket[i].products.productName %>"> </p>
                        <p> 개수 : <input type="text" name="productCount" readonly value="<%= PaymentBasket[i].products.productCount %>"></p>
                        <p> 옵션 : <input type="text" name="productSize" readonly value="<%= PaymentBasket[i].products.productSize %>"><input type="text" name="productColor" readonly value="<%= PaymentBasket[i].products.productColor %>"></p>
                        <!-- <p> 배송상태 : <input type="text" name="status" value="<%= PaymentBasket[i].status %>"></p> -->
                        배송상태 : 
                            <select name="paymentStatus" id="paymentStatus">
                                <option value="<%= PaymentBasket[i].status %>" selected disabled>현재 : <%= PaymentBasket[i].status %></option>

                                <option value="입금완료">입금완료</option>
                                <option value="포장">포장</option>
                                <option value="배송중">배송중</option>
                                <option value="배송완료">배송완료</option>
                            </select>
                        <input type="submit" name="submit" value="업데이트">
                    </fieldset>
                </form>
            <% } %>
        </fieldset>
        <fieldset>
            <legend>Q&A 답변</legend>
            <% for(let i in q_a){ %>
                <% if (!q_a[i].status) { %>
                <fieldset>
                    <form action="/admin/answer" method="post">
                        <p>writer : <input type="text" name="writer" value="<%= q_a[i].writer %>"></p>
                        <p>title : <input type="text" name="title" value="<%= q_a[i].title %>"></p>
                        <p>text : <input type="text" name="text" value="<%= q_a[i].text %>"></p>
                        <textarea name="answer" cols="30" rows="10"></textarea>
                        <input type="submit" name="submit" value="답변하기">
                    </form>
                </fieldset>
                <% } %>
                <br>
            <% } %>
        </fieldset>
    </body>
</html>