<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="./images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">

                <span class="topbar-child1">
                    Stylish에서 스타일리쉬하게 변하다!
                </span>

            </div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="./images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/product">Shop</a>
							</li>

							<li>
								<a href="javascript:alert('준비중입니다:)');">Sale</a>
							</li>

							<li class="sale-noti">
								<a href="/cart">Features</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<div class="header-icons">
						<img src="./images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						&nbsp;&nbsp;&nbsp;<%= user_id %>
						<div class="header-cart header-dropdown">
							<div class="header-cart-buttons">
							<% if(typeof user_id == 'undefined'){ %>
								<!-- Sign in & Sign up -->
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/login" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Sign in
									</a>
								</div>
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/join" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Sign up
									</a>
								</div>
								<% }else{ %>
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/logout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Sign out
										</a>
									</div>
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/user/mypage" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											My page
										</a>
									</div>
								<% } %>
							</div>
						</div>
					</div>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti"><%= basketCount %></span>
						<% if(typeof user_id == 'undefined'){ %>
							<div class="header-cart header-dropdown">
									<ul class="header-cart-wrapitem">
											<li class="header-cart-item">
												Login please :)
											</li>
									</ul>
							</div>
						<% }else{ %>
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<% for(let i in userBasket){ %>
								<ul class="header-cart-wrapitem">
									<li class="header-cart-item">
										<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>">
											<div class="header-cart-item-img">
												<img src="./images/products/<%=userBasket[i].highCategoryFilter%>/<%=userBasket[i].lowCategoryFilter%>/720960/<%=userBasket[i].products.productColor%>.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="IMG">
											</div>
										</a>

										<div class="header-cart-item-txt">
											<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>" class="header-cart-item-name">
												<%=userBasket[i].products.productName%>
											</a>

											<span class="header-cart-item-info">
												<%=userBasket[i].productCountKey%> x <%=userBasket[i].products.productPrice%> ₩
											</span>
										</div>
									</li>
								</ul>	
							<% } %>
							<div class="header-cart-total">
								Total: <%=totalPrice%>
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/service/payment" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="./images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="./images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Home</a>
						<ul class="sub-menu">
							<li><a href="/">Homepage V1</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="/product">Shop</a>
					</li>

					<li class="item-menu-mobile">
						<a href="javascript:alert('준비중입니다:)');">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/cart">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/about">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-color: silver";>
		<h2 class="l-text2 t-center">
			Cart
		</h2>
	</section>

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
                    <div class="leftbar p-r-20 p-r-0-sm">
                        <!--  -->
                        <h4 class="m-text14 p-b-7" style="font-size: 44px">
                            My Page
                        </h4> <br><br>
                    </div>

                    <div style="text-align:center">
                                <a href="/user/mypage" class="s-text13 sizebig" style="font-size: 20px;">
                                    Information Modify
                                </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="/user/mypage/basket" class="s-text13 active1 sizebig" style="font-size: 20px;">
                                    Shopping Basket
                                </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                <a href="/user/mypage/Ordered" class="s-text13 sizebig" style="font-size: 20px;">
                                    Ordered
                                </a>
                     </div>
<br> <br><br> <br><br> 



                <!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						<tr class="table-head">
							<th class="column-1"></th>
							<th class="column-2">Product</th>
							<th class="column-4">Price</th>
							<th class="column-4 p-l-70">Quantity</th>
							<th class="column-3">Option</th>
							<th class="column-5">Total</th>
						</tr>
						<% const productsTotalPrice = new Array(); %>
						<% for(let i in userBasket){ %>
							<form action="/cart/deleteOne" method="POST">
								<tr class="table-row">
									<td class="column-1">
										<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>">
										<div class="cart-img-product b-rad-4 o-f-hidden">
											<img src="./images/products/<%=userBasket[i].highCategoryFilter%>/<%=userBasket[i].lowCategoryFilter%>/720960/<%=userBasket[i].products.productColor%>.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="상품 이미지가 준비중입니다.">
										</div>
										</a>
									</td>
									<td class="column-2"><a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>"><input type="text" name="productNameKey" value="<%= userBasket[i].products.productName %>" hidden><%= userBasket[i].products.productName %></a></td>
									<td class="column-3"><%= userBasket[i].products.productPrice %> ₩</td><input type="text" name="productPriceKey" value="<%= userBasket[i].products.productPrice %>" hidden>
									<td class="column-4">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<%= userBasket[i].productCountKey %><input type="text" name="productCountKey" value="<%= userBasket[i].productCountKey %>" hidden>
									</td>
									<input type="text" name="highCategoryFilter" value="<%= userBasket[i].highCategoryFilter %>" hidden>
									<% if(userBasket[i].highCategoryFilter == "shirt" || userBasket[i].highCategoryFilter == "pants"){ %>
										<td class="column-3">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<%= userBasket[i].products.productHigh %>, &nbsp;
												<%= userBasket[i].products.productWeight %>, &nbsp;
												<%= userBasket[i].products.productColor %>
												<input type="text" name="productHighKey" value="<%= userBasket[i].products.productHigh %>" hidden>
												<input type="text" name="productWeightKey" value="<%= userBasket[i].products.productWeight %>" hidden>
												<input type="text" name="productColorKey" value="<%= userBasket[i].products.productColor %>" hidden>
										</td>
									<% }else if(userBasket[i].highCategoryFilter == "shoes"){ %>
										<td class="column-3">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<%= userBasket[i].products.productSize %>, &nbsp;
												<%= userBasket[i].products.productColor %>
												<input type="text" name="productSizeKey" value="<%= userBasket[i].products.productSize %>" hidden>
												<input type="text" name="productColorKey" value="<%= userBasket[i].products.productColor %>" hidden>
										</td>
									<% }else{ %>
										<td class="column-3">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<%= userBasket[i].products.productColor %>
												<input type="text" name="productColorKey" value="<%= userBasket[i].products.productColor %>" hidden>
										</td>
									<% } %>
									<td class="column-5"><%= userBasket[i].products.productPrice * userBasket[i].productCountKey %>₩</td>
									<td class="column-3">
											<input class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" style="padding: 5px; margin: 20px;" type="submit" name="submit" value=" Product Remove ">
									</td>
								</tr>
									<% productsTotalPrice.push(userBasket[i].products.productPrice * userBasket[i].productCountKey)  %>
							</form>
						<% } %>
					</table>
					<div>
					</div>
				</div>
			</div>
			<br><br>

			

			<!-- Total -->
			<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
				<h5 class="m-text20 p-b-24">
					Cart Totals
				</h5>

				<!--  -->
				<div class="flex-w flex-sb-m p-b-12">
					<span class="s-text18 w-size19 w-full-sm">
						Subtotal:
					</span>

					<span class="m-text21 w-size20 w-full-sm">
						<%= totalPrice %> ₩
					</span>
				</div>
				<!--  -->
				<div class="flex-w flex-sb-m p-t-26 p-b-30">
					<span class="m-text22 w-size19 w-full-sm">
						Total:
					</span>

					<span class="m-text21 w-size20 w-full-sm">
						<%= totalPrice %> ₩
					</span>
				</div>

				<div class="size15 trans-0-4">
					<!-- Button -->
					<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
						<a href="/service/payment">Proceed to Checkout</a>
					</button>
				</div>
			</div>
		</div>
	</section>



	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 2nd floor, 304-dong Hyundai @, Seoul, Republic of Korea or contact us on admin@example.com
					</p>

					<div class="flex-m p-t-30">
						<a href="javascript:alert('facebook');" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="javascript:alert('instagram');" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="javascript:alert('pinterest');" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="javascript:alert('snapchat');" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="javascript:alert('youtube');" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/product?clothes=shirt" class="s-text7">
							Shirts
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=pants" class="s-text7">
							Pants
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=bag" class="s-text7">
							Bags
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=shoes" class="s-text7">
							Shoes
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7" id="search_2">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="/about" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="/contact" class="s-text7">
							Contact Us
						</a>
					</li>

				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/customerCenter" class="s-text7">
							Customer Center
						</a>
					</li>

					<li class="p-b-9">
						<a href="/tos.html" class="s-text7">
							ToS
						</a>
					</li>

					<li class="p-b-9">
						<a href="/priv.html" class="s-text7">
							Privacy policy
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Like us
                </h4>

                <form>
					Present: <input class="s-text7 bg6  p-b-5" type="text" id="likeCountText" value="0">
                    <div class="w-size2 p-t-20">
                        <!-- Button -->
						<input class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" type="button" id="likeCount" value="Like">
                    </div>
                </form>
            </div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="./images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/visa.png" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/express.png" alt="IMG-EXPRESS">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/discover.png" alt="IMG-DISCOVER">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script src="./javascripts/main.js"></script>
	<script>
			$('#search_2').click(() => {
				let data = prompt("검색할 제품을 입력해주세요");
				if(data){
					$.ajax({
						url : '/service/search',
						dataType : 'json',
						type : 'POST',
						data : {'productName' : data},
						success : result => {
							location.href=`${result.path}`;
						}
					});
				}else{
					alert("제대로 입력해주세요");
				}
			});
	</script>
	<script>
			$('#likeCount').click(() => {
				var n = $('#likeCount').index(this);
				var num = $("#likeCountText:eq("+n+")").val();
				num = $("#likeCountText:eq("+n+")").val(num*1+1); 
			});
	</script>
</body>
</html>
