<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="./images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
<!--===============================================================================================-->
	<script>
		const ran = Math.floor(Math.random() *product ) + 1;
	</script>
	<script type="text/javascript">
		function getlowCategory(value){
			let highElement = document.getElementById("high1");
			let weightElement = document.getElementById("weight");
			let colorElement = document.getElementById("color");
			let colorBagElement = document.getElementById("colorBag");
			let sizeElement = document.getElementById("size");
			let lowShirtElement = document.getElementById("lowshirt");
			let lowPantsElement = document.getElementById("lowpants");
			let lowBagElment = document.getElementById("lowbag");
			let lowShoesElement = document.getElementById("lowshoes");
			if(value === 'shirt'){
				lowShirtElement.style.display = 'block';
				highElement.style.display = 'block';
				weightElement.style.display = 'block';
				colorElement.style.display = 'block';

				lowPantsElement.style.display = 'none';
				lowBagElment.style.display = 'none';
				lowShoesElement.style.display = 'none';

				lowPantsElement.disabled = true;
				lowBagElment.disabled = true;
				lowShoesElement.disabled = true;
			}
			if(value !== 'shirt'){
				if(value === 'pants'){
					lowShirtElement.style.display = 'none';
					lowPantsElement.style.display = 'block';
					highElement.style.display = 'block';
					weightElement.style.display = 'block';
					colorElement.style.display = 'block';
				}else{
					highElement.style.display = 'none';
					weightElement.style.display = 'none';
					colorElement.style.display = 'none';
					colorBagElement.style.display = 'none';
					lowShirtElement.style.display = 'none';
				}
				lowPantsElement.disabled = false;
				lowBagElment.disabled = false;
				lowShoesElement.disabled = false;
			}
			if(value === 'bag'){
				lowBagElment.style.display = 'block';
				colorBagElement.style.display = 'block';
				lowPantsElement.style.display = 'none';
				lowShirtElement.disabled = true;
				lowPantsElement.disabled = true;
				lowShoesElement.disabled = true;
			}
			if(value !== 'bag'){
				lowBagElment.style.display = 'none';
				colorBagElement.style.display = 'none';
				lowShirtElement.disabled = false;
				lowPantsElement.disabled = false;
				lowShoesElement.disabled = false;
			}
			if(value === 'shoes'){
				lowShoesElement.style.display = 'block';
				sizeElement.style.display = 'block';
				colorElement.style.display = 'block';
				lowPantsElement.style.display = 'none';
				lowShirtElement.disabled = true;
				lowPantsElement.disabled = true;
				lowBagElment.disabled = true;
			}
			else if(value === 'select'){
				lowShoesElement.style.display = 'none';
				lowPantsElement.style.display = 'none';
				sizeElement.style.display = 'none';
				lowShirtElement.disabled = false;
				lowPantsElement.disabled = false;
				lowBagElment.disabled = false;
			}
		}
	</script>
	<style>
		#demoView {
			text-align: center;
			margin: 0 auto;
		}
		#demo_mini_view{
			text-align: center;
			margin: 0 auto;
		}
		select{
			text-align: center;
			margin: 0 auto;
		}
	</style>
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">

				<span class="topbar-child1">
					Stylish에서 스타일리쉬하게 변하다!
				</span>

			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="./images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li class="sale-noti">
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/product">Shop</a>
							</li>

							<li>
								<a href="javascript:alert('준비중입니다:)');">Sale</a>
							</li>

							<li>
								<a href="/cart">Features</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<div class="header-icons">
						<img src="./images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						&nbsp;&nbsp;&nbsp;<%= user_id %>
						<div class="header-cart header-dropdown">
							<div class="header-cart-buttons">
								<% if(typeof user_id == 'undefined'){ %>
								<!-- Sign in & Sign up -->
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/login" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Sign in
									</a>
								</div>
								<div class="header-cart-wrapbtn">
									<!-- Button -->
										<a href="/join" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Sign up
										</a>
									</div>
									<% }else{ %>
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/logout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Sign out
											</a>
										</div>
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/user/mypage" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												My page
											</a>
										</div>
									<% } %>
								</div>
							</div>
					</div>
					
					<span class="linedivide1"></span>
					
					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti"><%= basketCount %></span>
						<% if(typeof user_id == 'undefined'){ %>
							<div class="header-cart header-dropdown">
									<ul class="header-cart-wrapitem">
											<li class="header-cart-item">
												Login please :)
											</li>
									</ul>
							</div>
						<% }else{ %>
						<!-- Header cart noti -->	
								<div class="header-cart header-dropdown">
								<% for(let i in userBasket){ %>
									<ul class="header-cart-wrapitem">
										<li class="header-cart-item">
											<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>">
												<div class="header-cart-item-img">
													<img src="./images/products/<%=userBasket[i].highCategoryFilter%>/<%=userBasket[i].lowCategoryFilter%>/720960/<%=userBasket[i].products.productColor%>.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="IMG">
												</div>
											</a>

											<div class="header-cart-item-txt">
												<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>" class="header-cart-item-name">
													<%=userBasket[i].products.productName%>
												</a>

												<span class="header-cart-item-info">
													<%=userBasket[i].productCountKey%> x <%=userBasket[i].products.productPrice%> ₩
												</span>
											</div>
										</li>
									</ul>
								<% } %>
									<div class="header-cart-total">
										Total: <%=totalPrice%>
									</div>
									
									<div class="header-cart-buttons">
										<div class="header-cart-wrapbtn">
											
											<!-- Button -->
											<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												View Cart
											</a>
										</div>

										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/service/payment" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Check Out
											</a>
										</div>
									</div>
									
								</div>
							
						<% } %>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="./images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					
					<a href="/login" class="header-wrapicon1 dis-block">
						<img src="./images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>
						
					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Home</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="/product">Shop</a>
					</li>

					<li class="item-menu-mobile">
						<a href="javascript:alert('준비중입니다:)');">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/cart">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/about">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url(./images/1920570/1920570.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Stylish Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="/product" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Shop Now
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url(./images/1920570/1920570-2.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
							Stylish Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a href="/product" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Shop Now
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url(./images/1920570/1920570-3.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
							Stylish Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
							New arrivals
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
							<!-- Button -->
							<a href="/product" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Shop Now
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	

	<!-- New Product -->
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Featured Products
				</h3>
			</div>
			
			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
					
					<% for(let i in product){ %>
						<% let a = Math.floor(Math.random() *product.length ) + 1 %>
					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="./images/products/<%=product[i].highCategoryFilter%>/<%=product[i].lowCategoryFilter%>/720960/black.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="준비중인 상품입니다 ^^">
								<a href="/product-detail?name=<%=product[i].name%>&price=<%=product[i].price%>&highCategoryFilter=<%=product[i].highCategoryFilter%>&lowCategoryFilter=<%=product[i].lowCategoryFilter%>&description=<%=product[i].description%>" class="block2-name dis-block s-text3 p-b-5">
								<div class="block2-overlay trans-0-4">
								</div>
								</a>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail?name=<%=product[i].name%>&price=<%=product[i].price%>&highCategoryFilter=<%=product[i].highCategoryFilter%>&lowCategoryFilter=<%=product[i].lowCategoryFilter%>&description=<%=product[i].description%>" class="block2-name dis-block s-text3 p-b-5">
									<%= product[i].name %> 
								</a>

								<span class="block2-price m-text6 p-r-5">
									<%= product[i].price %> ₩
								</span>
							</div>
						</div>
					</div>
					<% } %>

					
					
				
				</div>
			</div>
			
		</div>
	</section>
	<div class="sec-title p-b-52 p-l-15 p-r-15">
			<h3 class="m-text5 t-center">
				Demo Page experience
			</h3>
	</div>
	<!-- Banner2 -->
	<section class="banner2 bg5 p-t-55 p-b-55">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15" id="demoView" style="border: 1px solid gray">
					<div class="p-t-33 p-b-60">
					<!-- <div class="hov-img-zoom pos-relative"> -->
							<!-- <form action="/admin/product/add" method="POST"> -->
								<div class="flex-m flex-w p-b-10">
								<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
								<select class="selection-2" name="high" id="high" onchange="getlowCategory(this.value)" required>
									<option value="select" selected>select</option>
									<option value="shirt">shirt</option>
									<option value="pants">pants</option>
									<option value="bag">bag</option>
									<option value="shoes">shoes</option>
								</select>
								</div>
								</div>
								<!-- <div id="demo_mini_view"> -->

									<div class="flex-m flex-w p-b-10">
									<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="low" id="lowshirt" style="display: none" required>
										<option value="t-shirt">T-shirt</option>
										<option value="y_shirt">Y_shirt</option>
										<option value="denim_shirt">denim_shirt</option>
									</select>
									</div>
									</div>

									<div class="flex-m flex-w p-b-10">
									<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="low" id="lowpants" style="display: none" required>
										<option value="slacks">slacks</option>
										<option value="blue_jeans">blue_jeans</option>
										<option value="cotton_trousers">cotton_trousers</option>
									</select>
									</div>
									</div>

									<div class="flex-m flex-w p-b-10">
									<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="low" id="lowbag" style="display: none" required>
										<option value="echo">echo</option>
										<option value="school">school</option>
										<option value="cross">cross</option>
									</select>
									</div>
									</div>

									<div class="flex-m flex-w p-b-10">
									<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="low" id="lowshoes" style="display: none" required>
										<option value="sneakers">sneakers</option>
										<option value="sandals">sandals</option>
										<option value="canvas">canvas</option>
									</select>
									</div>
									</div>
								</div>


									<!-- 여기서부터 상세 옵션 입력 -->
									
									<select class="selection-2" name="size" id="size" style="display: none" required>
										<option value="size" disabled selected>size</option>
										<option value="250">250</option>
										<option value="260">260</option>
										<option value="270">270</option>
										<option value="280">280</option>
										<option value="290">290</option>
										<option value="300">300</option>
									</select>
									
									<select class="selection-2" name="high1" id="high1" style="display: none" required>
										<option value="high" disabled selected>high</option>
										<option>150-160</option>
										<option>160-170</option>
										<option>170-180</option>
										<option>180-190</option>
									</select>
									
									<select class="selection-2" name="weight" id="weight" style="display: none" required>
										<option value="weight" disabled selected>weight</option>
										<option>50-70</option>
										<option>70-90</option>
										<option>90-110</option>
										<option>110-120</option>
									</select>
									
									<select class="selection-2" name="color" id="color" style="display: none" required>
										<option value="color" disabled selected>color</option>
										<option>gray</option>
										<option>black</option>
										<option>white</option>
									</select>

									<select class="selection-2" name="color" id="colorBag" style="display: none" required>
										<option value="color" disabled selected>color</option>
										<option>black</option>
										<option>blue</option>
										<option>white</option>
									</select>


								<!-- </div>--><br>
								<!-- <input type="submit" name="submit" value="생성하기"> -->
								<div class="size9 trans-0-4 m-t-10 m-b-10" style="margin: 0 auto;">
									<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="createView">
										확인
									</button>
								</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15" style="border: 1px solid gray">
					<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm" >
						<img id="demoImage" src="./images/item-02.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="IMG-BANNER">

						<!-- <div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
							<div class="t-center">
								
							</div>

							<div class="flex-c-m p-t-44 p-t-30-xl">
								
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>


	
	<!-- Instagram -->
	<section class="instagram p-t-20">
		<div class="sec-title p-b-52 p-l-15 p-r-15">
			<h3 class="m-text5 t-center">
				@ Look at the images below on Instagram
			</h3>
		</div>

		<div class="flex-w">
			<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="./images/profile/a.jpg" alt="IMG-INSTAGRAM">

				<a href="https://www.instagram.com/p/BmX3gwUg8Wh/?hl=ko&tagged=twicefashion" class="block4-overlay sizefull ab-t-l trans-0-4">

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
							Stylish
						</p>

					</div>
				</a>
			</div>

			<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="./images/profile/s.jpg" alt="IMG-INSTAGRAM">

				<a href="https://www.instagram.com/p/BmwksGohL60/?hl=ko&tagged=shirts" class="block4-overlay sizefull ab-t-l trans-0-4">

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
							Shirts
						</p>
					</div>
				</a>
			</div>

			<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="./images/profile/p.jpg" alt="IMG-INSTAGRAM">

				<a href="https://www.instagram.com/p/BmwkP9gnZj8/?hl=ko&tagged=pants" class="block4-overlay sizefull ab-t-l trans-0-4">

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
							Pants
						</p>
					</div>
				</a>
			</div>

			<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="./images/profile/w.jpg" alt="IMG-INSTAGRAM">

				<a href="https://www.instagram.com/p/BmwCXBMghqM/?hl=ko&tagged=bags" class="block4-overlay sizefull ab-t-l trans-0-4">

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
							Bags
						</p>
					</div>
				</a>
			</div>

			<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="./images/profile/c.jpg" alt="IMG-INSTAGRAM">

				<a href="https://www.instagram.com/p/BmwKtiVHsSt/?hl=ko&tagged=shoes" class="block4-overlay sizefull ab-t-l trans-0-4">

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
							Shoes
						</p>
					</div>
				</a>
			</div>
		</div>
	</section>

	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Your Company
				</h4>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					Beautiful Clothes
				</h4>

			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Quick delivery
				</h4>

			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 2nd floor, 304-dong Hyundai @, Seoul, Republic of Korea or contact us on admin@example.com
					</p>

					<div class="flex-m p-t-30">
						<a href="javascript:alert('facebook');" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="javascript:alert('instagram');" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="javascript:alert('pinterest');" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="javascript:alert('snapchat');" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="javascript:alert('youtube');" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/product?clothes=shirt" class="s-text7">
							Shirts
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=pants" class="s-text7">
							Pants
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=bag" class="s-text7">
							Bags
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=shoes" class="s-text7">
							Shoes
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7" id="search_2">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="/about" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="/contact" class="s-text7">
							Contact Us
						</a>
					</li>

				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/customerCenter" class="s-text7">
							Customer Center
						</a>
					</li>

					<li class="p-b-9">
						<a href="/tos.html" class="s-text7">
							ToS
						</a>
					</li>

					<li class="p-b-9">
						<a href="/priv.html" class="s-text7">
							Privacy policy
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Like us
                </h4>

                <form>
					Present: <input class="s-text7 bg6  p-b-5" type="text" id="likeCountText" value="0">
                    <div class="w-size2 p-t-20">
                        <!-- Button -->
						<input class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" type="button" id="likeCount" value="Like">
                    </div>
                </form>
            </div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="./images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/visa.png" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/express.png" alt="IMG-EXPRESS">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/discover.png" alt="IMG-DISCOVER">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="./javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="./javascripts/main.js"></script>
	<script>
			$('#search_2').click(() => {
				let data = prompt("검색할 제품을 입력해주세요");
				if(data){
					$.ajax({
						url : '/service/search',
						dataType : 'json',
						type : 'POST',
						data : {'productName' : data},
						success : result => {
							location.href=`${result.path}`;
						}
					});
				}else{
					alert("제대로 입력해주세요");
				}
			});
	</script>
	<script>
		$('#likeCount').click(() => {
			var n = $('#likeCount').index(this);
			var num = $("#likeCountText:eq("+n+")").val();
			num = $("#likeCountText:eq("+n+")").val(num*1+1); 
		});
	</script>
	<script>
		$('#createView').click(() =>{
			let getHighCategory = document.getElementById("high");
			
			let highElement = document.getElementById("high1");
			let weightElement = document.getElementById("weight");
			let colorElement = document.getElementById("color");
			let sizeElement = document.getElementById("size");
			let lowShirtElement = document.getElementById("lowshirt");
			let lowPantsElement = document.getElementById("lowpants");
			let lowBagElment = document.getElementById("lowbag");
			let lowShoesElement = document.getElementById("lowshoes");

			if($('#high').val() === "shirt"){
				if($('#lowshirt').val() === "t-shirt"){
					if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "black"){
						$('#demoImage').attr('src','./images/models/simple/shirt/t-shirt/high=150-160&weight=50-70&color=black.jpg');
					}
					else if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "gray"){
						$('#demoImage').attr('src','./images/models/simple/shirt/t-shirt/high=150-160&weight=50-70&color=gray.jpg');
					}
					else if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "white"){
						$('#demoImage').attr('src','./images/models/simple/shirt/t-shirt/high=150-160&weight=50-70&color=white.jpg');
					}
					else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}
				}else{
					$('#demoImage').attr('src','./images/ready.jpg');
				}
			}else if($('#high').val() === "pants"){
				if($('#lowpants').val() === "slacks"){
					if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "black"){
						$('#demoImage').attr('src','./images/models/simple/pants/slacks/high=150-160&weight=50-70&color=black.jpg');
					}else if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "gray"){
						$('#demoImage').attr('src','./images/models/simple/pants/slacks/high=150-160&weight=50-70&color=gray.jpg');
					}
					else if($('#high1').val() == "150-160" && $('#weight').val() == "50-70" && $('#color').val() == "white"){
						$('#demoImage').attr('src','./images/models/simple/pants/slacks/high=150-160&weight=50-70&color=white.jpg');
					}else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}
				}else{
					$('#demoImage').attr('src','./images/ready.jpg');
				}
			}else if($('#high').val() === "shoes"){
				if($('#lowshoes').val() === "sneakers"){
					if($('#color').val() == "black"){
						$('#demoImage').attr('src','./images/products/shoes/sneakers/720960/black.jpg');
					}else if($('#color').val() == "gray"){
						$('#demoImage').attr('src','./images/products/shoes/sneakers/720960/gray.jpg');
					}else if($('#color').val() == "white"){
						$('#demoImage').attr('src','./images/products/shoes/sneakers/720960/white.jpg');
					}else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}	
				}else{
					$('#demoImage').attr('src','./images/ready.jpg');
				}
			}else{
				if($('#lowbag').val() === "echo"){
					if($('#colorBag').val() == "black"){
						$('#demoImage').attr('src','./images/products/bag/echo/720960/black.jpg');
					}else if($('#colorBag').val() == "blue"){
						$('#demoImage').attr('src','./images/products/bag/echo/720960/blue.jpg');
					}else if($('#colorBag').val() == "white"){
						$('#demoImage').attr('src','./images/products/bag/echo/720960/white.jpg');
					}else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}	
				}else if($('#lowbag').val() === "school"){
					if($('#colorBag').val() == "black"){
						$('#demoImage').attr('src','./images/products/bag/school/720960/black.jpg');
					}else if($('#colorBag').val() == "blue"){
						$('#demoImage').attr('src','./images/products/bag/school/720960/blue.jpg');
					}else if($('#colorBag').val() == "white"){
						$('#demoImage').attr('src','./images/products/bag/school/720960/white.jpg');
					}else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}	
				}else if($('#lowbag').val() === "cross"){
					if($('#colorBag').val() == "black"){
						$('#demoImage').attr('src','./images/products/bag/cross/720960/black.jpg');
					}else if($('#colorBag').val() == "blue"){
						$('#demoImage').attr('src','./images/products/bag/cross/720960/blue.jpg');
					}else if($('#colorBag').val() == "white"){
						$('#demoImage').attr('src','./images/products/bag/cross/720960/white.jpg');
					}
					else{
						$('#demoImage').attr('src','./images/ready.jpg');
					}	
				}else{
					$('#demoImage').attr('src','./images/ready.jpg');
				}
			}
		});
	</script>
</body>
</html>
