    
                                    <div class="bo4 of-hidden size15 m-b-20">
                                            구매자 :  
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userName" value="<%= userId %>" disabled>
                                    </div><br>
    <% for(let i in PaymentBasket){ %>
            <fieldset>

                                    <div class="bo4 of-hidden size15 m-b-20">
                                            결제날짜 :
                                            <%=PaymentBasket[i].date.getFullYear()%>-<%=PaymentBasket[i].date.getMonth()+1%>-<%=PaymentBasket[i].date.getDate()%>
                                    </div>
            상품명 :  
                                    <div class="bo4 of-hidden size15 m-b-20">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userId" value="<%= PaymentBasket[i].products.productName %>" disabled>
                                    </div>
            상품갯수 :  
                                    <div class="bo4 of-hidden size15 m-b-20">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userPw" value="<%= PaymentBasket[i].products.productCount %>" disabled>
                                    </div>
            옵션 :  
                                    <div class="bo4 of-hidden size15 m-b-20">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userPhoneNumber" value="<%= PaymentBasket[i].products.productSize %>" disabled>
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userPhoneNumber" value="<%= PaymentBasket[i].products.productColor %>" disabled>
                                    </div>
            배송상태 :  
                                    <div class="bo4 of-hidden size15 m-b-20">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="userEmail" value="<%= PaymentBasket[i].status %>" disabled>
                                    </div>
            </fieldset>
            <br>
    <% } %>
