<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="./images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">

                <span class="topbar-child1">
                    Stylish에서 스타일리쉬하게 변하다!
                </span>

            </div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="./images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/product">Shop</a>
							</li>

							<li class="sale-noti">
								<a href="javascript:alert('준비중입니다:)');">Sale</a>
							</li>

							<li>
								<a href="/cart">Features</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<div class="header-icons">
						<div class="header-icons">
							<img src="./images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
							&nbsp;&nbsp;&nbsp;<%= user_id %>
							<div class="header-cart header-dropdown">
								<div class="header-cart-buttons">
									<% if(typeof user_id == 'undefined'){ %>
									<!-- Sign in & Sign up -->
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/login" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Sign in
										</a>
									</div>
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/join" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Sign up
										</a>
									</div>
									<% }else{ %>
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/logout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Sign out
											</a>
										</div>
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/user/mypage" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												My page
											</a>
										</div>
									<% } %>
								</div>
							</div>
						</div>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti"><%= basketCount %></span>
						<% if(typeof user_id == 'undefined'){ %>
							<div class="header-cart header-dropdown">
									<ul class="header-cart-wrapitem">
											<li class="header-cart-item">
												Login please :)
											</li>
									</ul>
							</div>
						<% }else{ %>
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
								<% for(let i in userBasket){ %>
									<ul class="header-cart-wrapitem">
										<li class="header-cart-item">
											<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>">
												<div class="header-cart-item-img">
													<img src="./images/products/<%=userBasket[i].highCategoryFilter%>/<%=userBasket[i].lowCategoryFilter%>/720960/<%=userBasket[i].products.productColor%>.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="IMG">
												</div>
											</a>
	
											<div class="header-cart-item-txt">
												<a href="/product-detail?name=<%=userBasket[i].productNameKey%>&price=<%=userBasket[i].products.productPrice%>&highCategoryFilter=<%=userBasket[i].highCategoryFilter%>&lowCategoryFilter=<%=userBasket[i].lowCategoryFilter%>&description=<%=userBasket[i].description%>" class="header-cart-item-name">
													<%=userBasket[i].products.productName%>
												</a>
	
												<span class="header-cart-item-info">
													<%=userBasket[i].productCountKey%> x <%=userBasket[i].products.productPrice%> ₩
												</span>
											</div>
										</li>
									</ul>	
								<% } %>
								<div class="header-cart-total">
									Total: <%=totalPrice%>
								</div>
	
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											View Cart
										</a>
									</div>
	
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="/service/payment" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Check Out
										</a>
									</div>
								</div>
						</div>
					<% } %>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="./images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="./images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="./images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="./images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Home</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="/product">Shop</a>
					</li>

					<li class="item-menu-mobile">
						<a href="javascript:alert('준비중입니다:)');">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/cart">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/about">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
						<div class="item-slick3" data-thumb="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/720960/black.jpg">
							<div class="wrap-pic-w"> <!-- 1200 x 1600 -->
								<img src="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/12001600/black.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="준비중인 상품입니다 ^^">
							</div>
						</div>

						<% if(highCategoryFilter == "bag"){ %>
							<div class="item-slick3" data-thumb="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/720960/blue.jpg">
								<div class="wrap-pic-w">
									<img src="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/12001600/blue.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="준비중인 상품입니다 ^^">
								</div>
							</div>
						<% }else{ %>
							<div class="item-slick3" data-thumb="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/720960/gray.jpg" >
								<div class="wrap-pic-w">
									<img src="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/12001600/gray.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="준비중인 상품입니다 ^^">
								</div>
							</div>
						<% } %>
						

						<div class="item-slick3" data-thumb="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/720960/white.jpg">
							<div class="wrap-pic-w">
								<img src="./images/products/<%=highCategoryFilter%>/<%=lowCategoryFilter%>/12001600/white.jpg" onerror="this.onerror=null;this.src='./images/ready.jpg'" alt="준비중인 상품입니다 ^^ ">
							</div>
						</div>
					</div>
				</div>
			</div>

			
			<div class="w-size14 p-t-30 respon5">
				<h2 class="product-detail-name" id="productName" name="productName"><%=productName%></h4>
<br><br>
				<span class="m-text17" id="productPrice" name="productPrice"><%=productPrice%></span>&nbsp;&nbsp;&nbsp;<span>₩</span>
<br><br>
				<!-- <input type="text" id="highCategoryFilter" name="highCategoryFilter" value="<%=highCategoryFilter%>" hidden>
				<input type="text" id="lowCategoryFilter" name="lowCategoryFilter" value="<%=lowCategoryFilter%>" hidden> -->
				<div class=" size9 trans-0-4 m-t-10 m-b-10">
					<!-- Button -->
					<button class="flex-c-m sizefull bg1  hov1 s-text1 trans-0-4" id="detail">
						Detail option
					</button>
				</div>
				<!--  -->
				<form action="/cart" method="POST">
					<input type="text" id="highCategoryFilter" name="highCategoryFilter" value="<%=highCategoryFilter%>" hidden>
					<input type="text" id="lowCategoryFilter" name="lowCategoryFilter" value="<%=lowCategoryFilter%>" hidden>
					<input type="text" id="productName" name="productNameKey" value="<%=productName%>" hidden>
					<input type="text" id="productName" name="productPriceKey" value="<%=productPrice%>" hidden>
					<input type="text" id="description" name="description" value="<%=description%>" hidden>
					<input type="text" id="user_id" name="user_id" value="<%=user_id%>" hidden>
					<!-- <input type="text" id="productCount" name="productCountKey" value="<%=description%>" hidden> -->
					<div class="p-t-33 p-b-60">
						<% if(highCategoryFilter == "shoes"){ %>
							<div class="flex-m flex-w p-b-10">
								<div class="s-text15 w-size15 t-center">
									Size
								</div>
			
								<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="productSizeKey" id="size" required>
										<option>Choose an option</option>
										<option>250</option>
										<option>260</option>
										<option>270</option>
										<option>280</option>
										<option>290</option>
										<option>300</option>
									</select>
								</div>
							</div>	
						<% }else if(highCategoryFilter == "shirt" || highCategoryFilter == "pants"){ %>
							<div class="flex-m flex-w p-b-10">
								<div class="s-text15 w-size15 t-center">
									High
								</div>
				
								<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="productHighKey" id="high" required>
										<option>Choose an option</option>
										<option>150-160</option>
										<option>160-170</option>
										<option>170-180</option>
										<option>180-190</option>
									</select>
								</div>
							</div>
							<div class="flex-m flex-w p-b-10">
								<div class="s-text15 w-size15 t-center">
									Weight
								</div>
					
								<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
									<select class="selection-2" name="productWeightKey" id="weight" required>
										<option>Choose an option</option>
										<option>50-70</option>
										<option>70-90</option>
										<option>90-110</option>
										<option>110-120</option>
									</select>
								</div>
							</div>		
						<% } %>
						<div class="flex-m flex-w">
							<div class="s-text15 w-size15 t-center">
								Color
							</div>

							<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
								<% if(lowCategoryFilter == "denim_shirt" || lowCategoryFilter == "blue_jeans"){ %>
									<select class="selection-2" name="productColorKey" id="color" required>
										<option>Choose an option</option>
										<option>Blue</option>
									</select>
								<% }else if(highCategoryFilter == "bag"){ %>
									<select class="selection-2" name="productColorKey" id="color" required>
										<option>Choose an option</option>
										<option>black</option>
										<option>blue</option>
										<option>white</option>
									</select>
								<% }else{ %>
									<select class="selection-2" name="productColorKey" id="color" required>
										<option>Choose an option</option>
										<option>gray</option>
										<option>black</option>
										<option>white</option>
									</select>
								<% } %>
							</div>
						</div>
					
				
<br>
					<div class="flex-r-m flex-w p-t-10">
						<div class="w-size16 flex-m flex-w">
							<div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
								<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
								</button>

								<input class="size8 m-text18 t-center num-product" type="number" name="productCountKey" id="productCount" value="1">

								<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>

							<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
								<!-- Button -->
								<!-- <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="addCart">
									Add to Cart
								</button> -->
								<input type="submit" value="Add to Cart"  class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
							</div>
						</form>

							<div class=" size9 trans-0-4 m-t-10 m-b-10">
								<!-- Button -->
								<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="viewModel" style="margin-left: 160px">
									View model
								</button>
							</div>
						</div>
					</div>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							<%=description%>
						</p>
						<input type="text" id="description" name="description" value="<%=description%>" hidden>
					</div>
				</div>


			</div>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 2nd floor, 304-dong Hyundai @, Seoul, Republic of Korea or contact us on admin@example.com
					</p>

					<div class="flex-m p-t-30">
						<a href="javascript:alert('facebook');" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="javascript:alert('instagram');" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="javascript:alert('pinterest');" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="javascript:alert('snapchat');" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="javascript:alert('youtube');" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/product?clothes=shirt" class="s-text7">
							Shirts
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=pants" class="s-text7">
							Pants
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=bag" class="s-text7">
							Bags
						</a>
					</li>

					<li class="p-b-9">
						<a href="/product?clothes=shoes" class="s-text7">
							Shoes
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7" id="search_2">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="/about" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="/contact" class="s-text7">
							Contact Us
						</a>
					</li>

				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/customerCenter" class="s-text7">
							Customer Center
						</a>
					</li>

					<li class="p-b-9">
						<a href="/tos.html" class="s-text7">
							ToS
						</a>
					</li>

					<li class="p-b-9">
						<a href="/priv.html" class="s-text7">
							Privacy policy
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Like us
                </h4>

                <form>
					Present: <input class="s-text7 bg6  p-b-5" type="text" id="likeCountText" value="0">
                    <div class="w-size2 p-t-20">
                        <!-- Button -->
						<input class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" type="button" id="likeCount" value="Like">
                    </div>
                </form>
            </div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="./images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/visa.png" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/express.png" alt="IMG-EXPRESS">
			</a>

			<a href="#">
				<img class="h-size2" src="./images/icons/discover.png" alt="IMG-DISCOVER">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="./javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});

		$('.btn-addcart-product-detail').each(function(){
			var nameProduct = $('.product-detail-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="./javascripts/main.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js%22%3E"></script>
	<script>
		// $('#addCart').click(() => {
        //     $.ajax({
        //         url : '/cart',
        //         dataType : 'json',
        //         type : 'POST',
        //         data : { 
		// 			'productName': $('#productName').text(),     // 필수
		// 			'productPrice' : $('#productPrice').text(),  // 필수
		// 			"productSize" : $('#size').val(),
		// 			'productColor' : $('#color').val(),			 // 공통
		// 			'productHigh' : $('#high').val(),
		// 			'productWeight' : $('#weight').val(),
		// 			'productCount' : $('#productCount').val(),   // 필수
		// 			'highCategoryFilter' : $('#highCategoryFilter').val(),  // 필수
		// 			'lowCategoryFilter' : $('#lowCategoryFilter').val(),    // 필수
		// 			'description' : $('#description').val()
		// 		},
        //         success : result => {
		// 			location.href=`${result.path}`;
        //         }
		// 	});
        // });
	</script>
	<script>
		$('#search_2').click(() => {
			let data = prompt("검색할 제품을 입력해주세요");
			if(data){
				$.ajax({
					url : '/service/search',
					dataType : 'json',
					type : 'POST',
					data : {'productName' : data},
					success : result => {
						location.href=`${result.path}`;
					}
				});
			}else{
				alert("제대로 입력해주세요");
			}
		});
	</script>
	<script>
		$('#likeCount').click(() => {
			var n = $('#likeCount').index(this);
			var num = $("#likeCountText:eq("+n+")").val();
			num = $("#likeCountText:eq("+n+")").val(num*1+1); 
		});
	</script>
	<script>
		$('#detail').click(() => {
			alert("준비중입니다.");
		});
	</script>
	<script>
		$('#viewModel').click(() => {
			$.ajax({
                url : '/view',
                dataType : 'json',
                type : 'POST',
                data : { 
					'productName': $('#productName').text(),     // 필수
					'productPrice' : $('#productPrice').text(),  // 필수
					"productSize" : $('#size').val(),
					'productColor' : $('#color').val(),			 // 공통
					'productHigh' : $('#high').val(),
					'productWeight' : $('#weight').val(),
					'productCount' : $('#productCount').val(),   // 필수
					'highCategoryFilter' : $('#highCategoryFilter').val(),  // 필수
					'lowCategoryFilter' : $('#lowCategoryFilter').val()     // 필수
				},
                success : result => {
					location.href=`${result.path}`;
                }
			});
		});
	</script>
</body>
</html>
