<html>
    <head>
        <meta charset="utf-8">
        <title>Q&A</title>
        <style>
            h1,h3 {
                text-align: center;
            }
            .form {
                text-align: center;
            }
            .table {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <h1>This is Q&A Page</h1>
    <h3>Please leave a question if you have any frustration.</h3>
    <body>
        <form class="form" action="/service/QA" method="POST">
            <table class="table" border="1">
                <tr>
                    <td style="background-color: pink">번호</td>
                    <td style="background-color: pink">제목</td>
                    <td style="background-color: pink">작성자</td>
                    <td style="background-color: pink">작성일</td>
                    <td style="background-color: pink">조회</td>
                    <td style="background-color: pink">응답여부</td>
                </tr>
                <%if(contents.length>0){%>
                    <%let i = (count-skip);%>
                    <%contents.forEach(function(item){%>
                    <tr>
                        <td class="number"><%=i%></td>
                        <td class="title"><a style="text-decoration: none" href="/service/view?id=<%=item._id%>"><%=item.title%></a></td>
                        <td class="writer"><%=item.writer%></td>
                        <td class="date"><%=item.date.getFullYear()%>-<%=item.date.getMonth()+1%>-<%=item.date.getDate()%></td>
                        <td class="cnt"><%=item.count%></td>
                        <td class="status">
                            <% if(item.status){ %>
                                완료
                            <% } else {%>
                                진행중
                            <% } %>
                        </td>
                        <%i--;%>
                    </tr>
                    <%});%>
                    <%} else {%>
                    <tr>
                        <td colspan="5">게시물이 없습니다.</td>
                    </tr>
                <%}%>
            </table>
            <div class="pagination">
                <% for(let i=1; i<=pagination; i++){ %>  
                    <a style="text-decoration: none;" href="/service/QA?page=<%=i%>" class="next-page"><%=i%></a>
                <%}%> <br>
            </div>
            <input type="button" onclick="location.href='/write.html'" value="Write" >
        </form>
    </body>
</html>